<div class="transition-all min-h-screen bg-gray-50">
  <app-header pageTitle="Teachers"></app-header>

  <main class="p-6">
    <div class="flex items-center justify-between">
      <app-filters
        class="flex-grow mr-4"
        [dropdowns]="[
          { key: 'status', label: 'Status', options: ['Active', 'Inactive'] }
        ]"
        searchPlaceholder="Search by name or email"
        (filtersChange)="onFiltersChange($event)"
      ></app-filters>

      <app-button
        customColor="mb-6 bg-blue-950 text-white hover:bg-gray-500 cursor-pointer"
        (buttonClick)="onAddTeacher()"
      >
        Add Teacher
      </app-button>
    </div>

    <br />

    <app-data-table
      title="Manage Teachers"
      [columns]="teacherColumns"
      [rows]="filteredTeachers"
      [showViewAll]="false"
      [enableActions]="true"
      [rowClickable]="true"
      (edit)="onEditTeacher($event)"
      (delete)="onDeleteTeacher($event)"
      [totalItems]="filteredTeachers.length"
      [pageSize]="5"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
    >
    </app-data-table>
  </main>
</div>
