<div class="transition-all min-h-screen bg-gray-50">
  <app-header pageTitle="Courses"></app-header>

  <main class="p-6">

    <app-filters
      [dropdowns]="[
          {key: 'status', label: 'Status', options: ['Active', 'Inactive', 'Upcoming', 'Completed']}
      ]"
      searchPlaceholder="Search by course title, instructor or category"
      (filtersChange)="onFiltersChange($event)"
    ></app-filters>

    <br>

    <app-data-table 
      title="Manage Courses" 
      [columns]="courseColumns" 
      [rows]="filteredCourses" 
      [showViewAll]="false"
      [enableActions]="true" 
      [rowClickable]="true" 
      (edit)="onEditCourse($event)"
      (delete)="onDeleteCourse($event)"
      [totalItems]="filteredCourses.length"
      [pageSize]="5"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
      >
    </app-data-table>

  </main>
</div>