<div class="transition-all min-h-screen bg-gray-50">
    <app-header pageTitle="Students"></app-header>
  
    <main class="p-6">
  
      <app-filters
        [dropdowns]="[
            {key: 'status', label: 'Status', options: ['Enrolled', 'Graduated', 'Dropped']}
        ]"
        searchPlaceholder="Search by name or email"
        (filtersChange)="onFiltersChange($event)"
      ></app-filters>

      <br>

      <app-data-table 
        title="Manage Students" 
        [columns]="studentColumns" 
        [rows]="filteredStudents" 
        [showViewAll]="false"
        [enableActions]="true" 
        [rowClickable]="true" 
        (edit)="onEditStudent($event)" 
        (delete)="onDeleteStudent($event)"
        [totalItems]="filteredStudents.length"
        [pageSize]="5"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"
        >
      </app-data-table>
  
    </main>
</div>

