<div class="flex inset-0 fixed">
  <div
    class="flex-1 bg-slate-900 text-white min-h-screen flex flex-col text-center justify-center"
  >
    <h1 class="text-white text-4xl font-bold">Unlock Your Potential</h1>
    <p class="p-5">Join our community and start your learnig journey today.</p>
  </div>

  <div class="flex-1 bg-white text-slate-900">
    <div class="p-10 px-30">
      <h1 class="text-3xl font-bold text-slate-900 mb-2">
        Create your account
      </h1>
      <p class="text-slate-500 text-sm mb-4">Let's get you started!</p>

      <form class="flex flex-col">
        <div class="mb-2">
          <label
            for="fullName"
            class="block font-medium text-gray-700 mb-2 text-sm"
            >Full Name</label
          >
          <input
            type="text"
            id="fullName"
            formControlName="fullName"
            class="w-full px-4 py-3 border border-gray-300 rounded-md text-base transition-all duration-200 focus:outline-none focus:border-blue-600 focus:ring-3 focus:ring-blue-100"
            placeholder="Enter your full name"
          />
          <div
            *ngIf="fullName?.invalid && fullName?.touched"
            class="mt-1 text-red-600 text-xs"
          >
            <span *ngIf="fullName?.errors?.['required']"
              >Full Nameis required</span
            >
            <span *ngIf="fullName?.errors?.['fullName']"
              >Please enter a valid Full Name</span
            >
          </div>
        </div>

        <div class="mb-2">
          <label
            for="email"
            class="block font-medium text-gray-700 mb-2 text-sm"
            >Email</label
          >
          <input
            type="email"
            id="email"
            formControlName="email"
            class="w-full px-4 py-3 border border-gray-300 rounded-md text-base transition-all duration-200 focus:outline-none focus:border-blue-600 focus:ring-3 focus:ring-blue-100"
            placeholder="Enter your email"
          />
          <div
            *ngIf="email?.invalid && email?.touched"
            class="mt-1 text-red-600 text-xs"
          >
            <span *ngIf="email?.errors?.['required']">Email is required</span>
            <span *ngIf="email?.errors?.['email']"
              >Please enter a valid email</span
            >
          </div>
        </div>

        <div class="mb-2">
          <label
            for="password"
            class="block font-medium text-gray-700 mb-2 text-sm"
            >Password</label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            class="w-full px-4 py-3 border border-gray-300 rounded-md text-base transition-all duration-200 focus:outline-none focus:border-blue-600 focus:ring-3 focus:ring-blue-100"
            placeholder="Enter your password"
          />
          <div
            *ngIf="password?.invalid && password?.touched"
            class="mt-1 text-red-600 text-xs"
          >
            <span *ngIf="password?.errors?.['required']"
              >Password is required</span
            >
            <span *ngIf="password?.errors?.['minlength']"
              >Password must be at least 6 characters</span
            >
          </div>
        </div>

        <div class="mb-2">
          <label
            for="password"
            class="block font-medium text-gray-700 mb-2 text-sm"
            >Confirm Password</label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            class="w-full px-4 py-3 border border-gray-300 rounded-md text-base transition-all duration-200 focus:outline-none focus:border-blue-600 focus:ring-3 focus:ring-blue-100"
            placeholder="Enter your confirm password"
          />
          <div
            *ngIf="password?.invalid && password?.touched"
            class="mt-1 text-red-600 text-xs"
          >
            <span *ngIf="password?.errors?.['required']"
              >Confirm Password is required</span
            >
            <span *ngIf="password?.errors?.['minlength']"
              >Password must be at least 6 characters</span
            >
          </div>
        </div>

        <button
          (click)="onSignup()"
          type="submit"
          class="w-full py-3.5 bg-slate-900 text-white border-none rounded-md text-base font-semibold cursor-pointer transition-colors duration-200 mb-6 hover:bg-slate-800 disabled:bg-slate-700 disabled:cursor-not-allowed"
        >
          Sign Up
        </button>

        <p class="text-center text-gray-600 text-sm">
          Already have an account?
          <a
            routerLink="/"
            class="text-blue-950 font-medium hover:underline cursor-pointer"
            >Login</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
