/* .course-card {
  cursor: pointer;
  min-height: 280px;
  
} */


.course-card {
  cursor: pointer;
  transition: all 0.3s ease;
}

.course-card:hover {
  transform: translateY(-4px);
}

/* Ensure the image fills properly */
.course-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
   line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
   line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}