<section class="py-24 bg-primary-navy text-text-light">
  <div class="max-w-6xl mx-auto px-8">
    <app-section-title 
      title="From Setup to Success in 4 Steps" 
      color="blue">
    </app-section-title>
    
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8 relative mt-12">
      <!-- Connection Line but will only show in Desktop. just for better ui. -->
      <div class="hidden lg:block absolute top-1/2 left-0 right-0 h-1 bg-primary-light-blue rounded-full transform -translate-y-1/2"></div>
      
      <div 
        *ngFor="let step of steps" 
        class="fade-in relative">
        <app-card type="step" background="light" [hover]="false" [equalHeight]="true">
          <!-- Step Number -->
          <div class="absolute -top-5 left-1/2 transform -translate-x-1/2 w-10 h-10 bg-primary-light-blue text-white rounded-full flex items-center justify-center font-bold text-xl z-10">
            {{ step.number }}
          </div>
          
          <!-- Step Icon -->
          <div class="text-4xl mb-6 mt-6 text-primary-light-blue">
            {{ step.icon }}
          </div>
          
          <!-- Step Content -->
          <h3 class="text-text-dark mb-4 font-semibold text-xl font-poppins">
            {{ step.title }}
          </h3>
          <p class="text-text-muted leading-relaxed text-sm">
            {{ step.description }}
          </p>
        </app-card>
      </div>
    </div>
  </div>
</section>